::selection {
    background: rgb(167, 98, 133);
    color: rgb(242, 242, 242);
}

::-moz-selection {
    background: rgb(167, 98, 133);
    color: rgb(242, 242, 242);
}

body {
    font-family: 'Microsoft JhengHei';
}

h1 {
    font-size: 50px;
    line-height: 100%;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

#menu {
    position: fixed;
    z-index: 70;
    background: rgba(44, 44, 44, 1);
    width: 100%;
    height: 40px;
}

#menu li {
    float: left;
    height: 100%;
    width: 120px;
    font-size: 16px;
    text-align: center;
}

#menu a {
    color: rgb(244, 244, 244);
    float: left;
    height: calc(100% - 10px);
    padding: 5px;
    width: 100%;
}

#menu .active a {
    color: #fff;
    background: rgba(244, 244, 244, 0.2);
}

#menu div {
    color: rgb(244, 244, 244);
    float: right;
    margin: 5px;
}

.translate:hover {
    cursor: pointer;
}

.section {
    padding-top: 40px;
    height: calc(100vh - 40px);
    width: 100%;
}

.page1 {
    background: rgb(255, 255, 255);
}

.Item {
    filter: grayscale(70%);
    float: left;
    height: 100%;
    width: 25%;
}

.Item:hover {
    cursor: pointer;
    filter: grayscale(0%);
}

.Item h2 {
    background: rgba(44, 44, 44, 0.2);
    color: rgb(244, 244, 244);
    font-size: 34px;
    margin: 100% 10px 0 10px;
    text-align: center;
    padding: 25px 0px;
    width: calc(100% - 20px);
}

.PROFILE {
    background-image: url(../image/PROFILE.png);
    background-size: cover;
}

.RESUME {
    background-image: url(../image/RESUME.jpg);
    background-size: cover;
}

.PORTFOLIO {
    background-image: url(../image/PORTFOLIO.png);
    background-size: cover;
}

.CONTACT {
    background-image: url(../image/CONTACT.jpg);
    background-size: cover;
}

.title {
    color: rgb(21, 157, 132);
    font-size: 30px;
}

.my-info {
    background-image: url(../image/CONTACT.jpg);
    background-size: cover;
    height: 100%;
    width: 70%;
    float: left;
    color: #fff;
}

.my-features {
    background: rgba(66, 66, 66, 0.5);
    left: 50%;
    height: calc(87% - 80px);
    padding: 20px;
    position: absolute;
    top: 8%;
    width: 45%;
}

.my-features-1 {
    color:#fff;
    height: 100%;
    width: calc(100% - 50px);
}

.my-features-2 {
    height: 100%;
    width: calc(100% - 50px);
}

.my-features-3 {
    height: 100%;
    width: calc(100% - 50px);
}

.skills_title {
    height: 5%;
    width: 100%;
    font-size: 40px;
    text-align: center;
}


.skills_box {
    border-radius: 5px;
    box-shadow: 5px 10px 10px rgb(214, 214, 214);
    background: rgb(242, 242, 242);
    float: left;
    height: calc(90% - 90px);
    width: calc(100% / 3 - 90px);
    margin: 30px;
    padding: 15px;
}

.skills_box img {
    height: 100px;
    width: 100%;
}