<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta name="googlebot" content="noarchive">
    <link rel="stylesheet" type="text/css" href="../css/shared.css" />
    <link rel="stylesheet" type="text/css" href="../css/image-rotate/bootstrap-grid.min.css" />
    <link rel="stylesheet" type="text/css" href="../css/image-rotate/style.css" />
    <script type="text/javascript" src="../js/jquery.js"></script>
    <script type="text/javascript" src="../js/Teach.js"></script>
    <script type="text/javascript" src="../js/Shared.js"></script>
</head>

<body>
    <h2>一些教學網站</h2>
    <div id="item_box"></div>
</body>
<script type="text/javascript">
$(document).ready(function() {
    SelectTeach();
});
</script>

</html>